@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';

:root {
  --white: @white;
}

.ant-table-wrapper {
  border: @border-width-base @border-color-base @border-style-base;
  border-radius: @border-radius-base;
}
